@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-primary-light: #bdffe5;
  --color-brand-primary-medium: #00d5ad;
  --color-brand-primary-dark: #0b6c54;
  --color-brand-primary-xdark: #054434;

  --color-brand-accessory-xlight: #e4f9f3;
  --color-brand-accessory-light: #92e8cf;
  --color-brand-accessory-medium: #00b79e;
  --color-brand-accessory-beige: #fcf9f4;
  --color-brand-accessory-red: #f11427;
  --color-brand-accessory-magenta: #b51b76;

  --color-cta: #a3da58;
  --color-cta-dark: #034224;
  --color-white: #ffffff;
  --color-gray-xlight: #f8f8f8;
  --color-gray-light: #e3e3e3;
  --color-gray-medium: #b5b5b5;
  --color-gray-dark: #626262;
  --color-gray-xdark: #313131;
  --color-gray-xxdark: #121212;

  --color-feedback-success-light: #daf1e2;
  --color-feedback-success-medium: #379559;
  --color-feedback-success-dark: #153822;
  --color-feedback-success-xdark: #022b18;

  --color-feedback-warning-light: #fef3cd;
  --color-feedback-warning-medium: #dfb623;
  --color-feedback-warning-dark: #735a02;

  --color-feedback-error-light: #f8d3d2;
  --color-feedback-error-medium: #d42f28;
  --color-feedback-error-dark: #7c1b18;
  --color-feedback-error-xdark: #450f0d;

  --color-icons-lightbg-clicable: #313131;
  --color-icons-lightbg-disable: #b5b5b5;
  --color-icons-lightbg-information: #626262;

  --color-icons-darkbg-selected: #ffffff;
  --color-icons-darkbg-not-selected: #b5b5b5;
  --color-icons-darkbg-information: #626262;

  --font-primary: "Poppings", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  --text-size-xxs: 14px;
  --text-size-xs: 16px;
  --text-size-sm: 18px;
  --text-size-md: 20px;
  --text-size-lg: 24px;
  --text-size-xl: 28px;
  --text-size-xxl: 40px;

  --font-primary-regular: 400;
  --font-primary-medium: 500;
  --font-primary-semibold: 600;
  --font-primary-bold: 700;

  --font-secondary-regular: 400;
  --font-secondary-semibold: 600;
  --font-secondary-bold: 700;

  --line-height-xs: 100%;
  --line-height-sm: 120%;
  --line-height-md: 150%;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;

  --breakpoint-sm: 390px;
  --breakpoint-md: 860px;
  --breakpoint-lg: 1280px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
